<!-- Lwc Game -->
<template>
    <div>
        <div>
            <canvas id="myCanvas" class="gameAreaStyle" width="800" height="600" style="background-color: white"></canvas>
        </div>
        <template if:false={showGame}>
            <div style="width: 800px; height: 600px; background-color: white;border: 1px solid lightgray;position: absolute;">
                <div class="buttonArea">
                    <div style="font-size: 28px; color: cadetblue;text-align: center">{infoText}</div>
                    <div style="text-align: center;">
                        <lightning-button variant="brand" label={buttonLabel} title="Primary action" onclick={buttonLogic}
                                          class="slds-m-left_x-small"></lightning-button>
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>